/*! 
  dontshoot.at stylesheet v0 - please help yourself 
*/

@import "bourbon/bourbon";
@import "normalize";
@import "bitters/bitters";
$max-width: em(672);
@import "neat/neat";

body {
	padding-left: 2em;
	padding-right: 2em;

	@media screen and (max-width: 480px) {
		padding-left: 1em;
		padding-right: 1em;
	}
}

.hero {
	margin-top: 3em;
	margin-bottom: 4em;

	@media screen and (max-width: 480px) {
		margin-top: 1em;
		margin-bottom: 2em;
	}
}

#main {
	@include outer-container;
}

article {
	header { margin-bottom: 1em; }
	h1 {
		text-align: center;
	}
	.metadata {
		text-align: center;
		font-size: $base-font-size * 0.75;
	}

	margin-bottom: 3em;
}

.pagination {
	@include clearfix;
	.previous, .next { display: block; width: 10em;}
	.previous { float: left; }
	.next {float: right; text-align: right; }
}

footer.credits {
	margin-top: 4em;
	font-size: $base-font-size * 0.5;
	text-align: center;
}