<!DOCTYPE html>
<html lang="de">
  <head>
{% include head.html %}
  </head>
  <body>
  <div id="main">
    <header class="hero">
      <h1 class="title"><a href="/">{{ site.name }}</a></h1>
      <h2 class="slogan">{{ site.slogan }}</h2>
    </header>
    {{ content }}
    <footer class="credits">
      <p>Diese Seite verwendet Google Analytics, um herauszufinden, ob auch wirklich jemand die hier ver&ouml;ffentlichten Beitr&auml;ge liest. Was Google mit diesen Daten anstellt, kann man <a href="http://www.google.com/intl/de/policies/privacy/partners/" target="_blank">hier</a> nachlesen.
    </footer>
  </div>
{% include footer.html %}
  </body>
</html>
